/* 
html body header footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
#navBar {
    width: 100vw;
    height: 200px;
    background-image: url("https://lh3.googleusercontent.com/OKGuWoeCX9t7Cq5RS99nhlT_ZwCGbiEUa3MRb1f2UlP_10s-TCNOd6DLgsjifpmZjwOyDEK1UXpUkMJwy1gI3zShkwtmitbbh9wtN6_wMKafaOCluhVe5biq0tahrwzN7_g4z61RbsXu8bNnjOQtWDvaeKBasOGiBnxKToYFkSMVuI-Wg7VvMSLyAuCBLVRD_ZcwylX5JF4KzADzdfj49eqcxPmQSGe1AL2SVqZMrmow-U5On0OftESZ2-_-kE4Dh3FurN7GhNAu6Cu0rCi5z1NK0q3d02OE5cL7tjIdewgihW4zMemsM92w4cVLkoUyOdwfmV-0m25LEQVD_UXKBxtGQd0vvOD1oD2JXgr_iQVCLdwc5qIr5Nqnne-HRUVDWKgeK3uYCPRNDw7liaObq-2rVWy9pkWZvC1bp_zannmic9jXy6w7YDP_MZYax5FgaJRfLW2HxNGm1PQ6RE4KaPwNnGnJUGtqq8pudcgzqGKJN8zqJIT2fJZZdX-seSd9QZs3SK657qgMatqdrRRK57Lhb73yIC6slDW4oqKPBQk6y4ppmGNsI1CXWDzbEjxN2KzNfDuOqnVyQ-3f9Kla5M9-1jE9d__nYTa7b6PSmi2B9D2NlVP8pXNMvFIMN0CjXv-iS00b7VlLIJ_v3T7NfSXa=w1174-h152-no");
    background-repeat: no-repeat;
    background-size: contain;
}
.grid-text {
    display: grid;
}
.grid-text-item {
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-text-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: pink;
    text-decoration: none;
    font-size: 4vh;
    font-family: 'Cormorant Upright';
}
#mainHeaderText {
    font-size: 45px;
    font-family: 'Bungee Shade';
    animation:blinkingText 1s infinite;
    text-align: center;
}
@keyframes blinkingText{
    0%{     color: rgb(255, 147, 188);    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{   color: rgb(255, 147, 188);   }
    100%{   color: rgb(255, 147, 188);  }
}
#mainLanderSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;

}

#mainLanderImage {
    width: 700px;
    height: 450px;
    border: solid lightpink 10px;
    outline: pink solid 8px;
    box-shadow: 10px 10px 8px #888888;
}

.headers {
    font-size: 12vh;
    color: rgb(53, 53, 53);
    font-family: 'Pacifico';
}

.subHeaders {
    font-size: 6.5vh;
    color: pink;
    font-family: 'Cookie';
}

.descriptors {
    font-size: 4vh;
    font-family: 'Cormorant Upright';
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
}

.circleImageLarge {
    border-radius: 50%;
    border: solid pink 10px;
    height: 200px;
    width: 200px;
    box-shadow: 5px 8px 8px #888888;
}

#aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1500px;
}

#locationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 800px;
}

.grid-container {
    display: grid;

}

.grid-item {
    margin-right: 25px;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.squareImage {

    box-shadow: 10px 10px 8px #888888;

}
#kunal {
    margin-left: 100px;
}

.littleCircleImage {
    box-shadow: 5px 8px 8px #888888;
    border-radius: 50%;
    /* border: solid rgba(92, 255, 193, 0.74) 5px; */
    width: 100px;
    height: 100px;
}

.flexer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imageSwap {
    box-shadow: 10px 10px 8px #888888;
}

#contributeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1000px;
}

#contributeImg {
    width: 325px;
    height: 400px;
}

#vipSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1000px;
}

#gallerySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:725px;
    margin-top: 100px;
}
#galleryHeader {
    
}
#bigImageThree {
    height:490px;
    max-width: 650px;
}
#bigImage {
    max-height:500px;
    max-width: 275px;
}
#bigImageTwo {
    max-height:500px;
    max-width: 275px;
    padding-bottom: -400px;
}
#blackText {
    color: rgb(89, 206, 141);
    font-size: 16px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: -50px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #facebookCommentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:850px;
    
  }