
nav {
width: 100vw;
height: 150px;
background-image: url("https://i.imgur.com/pJ7PlW3.png");
background-repeat: no-repeat;
background-size: cover;  
margin-top: -10px;
position: fixed;
}
.navText{
position: flex;
flex-direction: row;
justify-content: center;
margin-right: 50px;
margin-top: 65px;
text-decoration: none;
color: pink;
font-family: 'Arvo';
}
#mainLander{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    background-image: url("https://i.imgur.com/e1RokU9.jpg");  
    width: 100vw;
    height: 250vh;
}

